.blogs-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .blog {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .button-container {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
