.spacer {
  flex: 1 1 auto;
}
.spinner-container {
  height: 360px;
  margin: 100px auto;
  text-align: center;
  max-width: 100px;
}

mat-sidenav-container {
  mat-sidenav {
    width: 250px; // Adjust as needed for your design

    mat-nav-list {
      a {
        display: flex;
        align-items: center; // Aligns the icon and text vertically
        padding: 10px;

        span{
          font-size: 18px;
          font-weight: 500;
        }

        mat-icon {
          margin-right: 10px; // Creates space between the icon and the text
        }
      }
    }
  }
}
